// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";
@import "../assets/vendor/pygments/dracula.css";
@import "global.scss";
@import "tags.scss";
@import "cards.scss";


body {
    background: #f4f8fb;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


.about-profile {
    max-width: 300px;
    max-height: 300px;
}

.highlight {
    padding: 5px;
    border-radius: 5px;
    // margin-bottom: 20px;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.view-header {

    display: inline-block;
    width: 361px;
    margin: 20px auto;
    min-height: 50px;
    // padding: 0 15px;

    .header-icon {
        font-size: 60px;
        color: white;

        width: 68px;
        float: left;

        margin: auto 0;

        line-height: 0;
    }

    .header-title {
        padding-left: 78px;

        h3 {
            margin-bottom: 2px;
        }

        h2 {
            margin: unset;
        }

        text-align: left;

    }
}

.fa-lg {
    font-size: 2em;
}

.navbar {
    svg {
        font-size: 2em;
    }
}

.min-header {
    height: 70px;
}