.tag-xamarin {
    background-color: #4599DF;
}

.tag-ios {
    background-color: #147EFB;
}

.tag-android {
    background-color: #67CC83;
}

.tag-csharp {
    background-color: #270065;
    background-image: linear-gradient(to right, #9677CF , #270065);
}

.tag-swift {
    background-color: #F0B055;
    background-image: linear-gradient(to right, #F0B055 , #EB4A37);
}

.tag-macOS {
    background-color: #E2675C;
    background-image: linear-gradient(to right, #453C73 , #E2675C, #4074AF);
}

.tag-uwp {
    background-color: #3777C6;
}

.tag-wpf {
    background-color: #1D477F;
}

.tag-powershell {
    background-color: #3170B0;
    background-image: linear-gradient(to right, #5C85E7 , #4D6EC1);
}

.tag-python {
    background-color: #4671A2;
    background-image: linear-gradient(to right, #4671A2 , #EFC857);
}

.tag-azure {
    background-color: #2557CB;
}