---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead min-header" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead min-header">
{% endif %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <p></p><!-- Need something here to get the header to display  -->
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
            <div class="row" style="margin-bottom: 60px;">
                <img class="about-profile rounded-lg mx-auto d-block" src="https://avatars.githubusercontent.com/u/33064621?v=4" alt="A picture of me!">
            </div>

            {% include social-links.html %}


            {{ content }}

        </div>
    </div>
</div>